<rows>
    {%if liste|length>0%}
    {% for u in liste %}
    <row id="{{ u.id }}" >
        <cell class="  serializable " type="ro"><![CDATA[ {%if u.lastFichier is not null%} 
                                            <img id="" style="-webkit-border-radius: 369px;-webkit-border-top-left-radius: 331px;-moz-border-radius: 369px;-moz-border-radius-topleft: 331px;border-radius: 369px;border-top-left-radius: 331px;width: 41px; height: 41px;top:-46px;margin-right: 25px;" src="{{ asset('../web/uploads/'~u.lastFichier.nom)}}" />
                {%else%}
                                            <i class="glyphicon glyphicon-user"></i>
                {%endif%}<a href="{{path('edit_profil',{'id':u.id})}}">{{ u.username }}</a>]]></cell>
        <cell class="  serializable " type="ro"><![CDATA[<a href="javascript:void(0)">{{ u.email }}</a>]]></cell>
        <cell class="  serializable" type="ro"><![CDATA[
            {%if u.id != app.user.id%}
            <a href="javascript:void(0);" class="ajouteramis{{u.id}} {%if u in app.user.amis%}hide{%endif%}" onClick="javascript:ajouteramis($(this), {{ u.id }});">
                <i class="glyphicon glyphicon-plus" style="color:blue;"></i>
            </a>

            <a href="javascript:void(0);" class="retireramis{{u.id}} {%if u not in app.user.amis%}hide{%endif%}" onClick="javascript:retireramis($(this), {{ u.id }});">
                <i class="glyphicon glyphicon-plus" style="color:red ;"></i>
            </a>
            {%endif%}
            ]]>
        </cell>
        
    </row> 
    {% endfor %}
    {% else %}
    <row id="" >
        <cell class="text-center  serializable " type="ro">Pas de resultats</cell>
    </row>
    {% endif %}
</rows>