{% extends '::base.html.twig' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="javascript:void()" class="pull-right"></a> <h4>Liste des utilisateurs </h4></div>
    <div class="panel-body">
        <div class="list-group">

            <div id="gridbox" style="width:100%; overflow:hidden; position: relative;"></div>
        </div>
    </div>
</div>
{% endblock %}
{%block javascripts%}
{{parent()}}
<script>
    var grid = new dhtmlXGridObject('gridbox');
    var custom_sort = function(a, b, ord, aid, bid) {
        var aid = aid.split("_");
        var bid = bid.split("_");
        if (aid[0] === "top")
            return -1;
        if (bid[0] === "top")
            return -1;

        return ((a > b) ? 1 : -1) * (ord === "asc" ? 1 : -1);
    };


    grid.setHeader("<div style='width:100%; text-align:left;'>Nom</div>,<div style='width:100%; text-align:left;'>Email</div>, ");
    grid.setInitWidths("*,*,100");
    grid.enableSmartRendering(true);
    grid.setColAlign("left,left,center");
    grid.setColTypes("ed,ro,ro,ro");
    grid.setColSorting("str,str,na");
    grid.enableMultiline(true);
    grid.setCustomSorting(custom_sort, 0);
    grid.setSkin("dhx_terrace");
    grid.enableAutoHeigth(true);
    grid.objBox.style.overflowX = "hidden";
    grid.enableEditEvents(true,false, false);
    grid.init();
    {%if rech is defined and rech!=""%}
    grid.load("{{ path('lister_user_xml',{'rech':rech}) }}", function() {        
    });
    {%else%}
    grid.load("{{ path('lister_user_xml') }}", function() {        
    });
    {%endif%}
     function ajouteramis(obj,id){
         var urlajoutamis= "{{ path('ajout_amis')}}";
         $.ajax({
                url: urlajoutamis,
                data: 'id='+id,
                type: 'POST',
                success: function(resultat) {
                    obj.addClass('hide');
                    $('a.retireramis'+id).removeClass('hide');
                }
            });
     }
     function retireramis(obj,id){
         var urlretireramis= "{{ path('supprimer_amis')}}";
         $.ajax({
                url: urlretireramis,
                data: 'id='+id,
                type: 'POST',
                success: function(resultat) {
                    obj.addClass('hide');
                    $('a.ajouteramis'+id).removeClass('hide');
                }
            });
     }
</script>
{% endblock %}